.header {
  display: flex;
  position: relative;
  padding: $m-spacing;
  justify-content: space-between;
  align-items: center;
  &__desktop {
    display: none;
  }
  @media (min-width: $desktop) {
    padding: calc($m-spacing + 10px);
    max-width: $desktop-width;
    margin: 0 auto;
  }
}

.image {
  background-color: white;
  border-radius: 50%;
}

.title {
  color: $font-color;
  cursor: pointer;
  margin: 0;
}

.menu__nav {
  padding: 0;
}

.list {
  margin: 0;
  display: flex;
  gap: $m-spacing;
}

.list__item {
  margin: 0;
  a {
    color: $font-color;
    &:visited {
      color: $font-color;
    }
    &:hover {
      text-decoration: underline 0.15em $font-color;
      text-underline-offset: 0.4em;
    }
  }
}
