.header {
  display: flex;
  position: relative;
  padding: $m-spacing;
  justify-content: space-between;
  align-items: center;
  &__desktop {
    display: none;
  }
  @media (min-width: $desktop) {
  }
}

.image {
  background-color: white;
  border-radius: 50%;
}

.title {
  color: $font-color;
  cursor: pointer;
  margin: 0;
}
