.settings__container {
  padding: $s-spacing;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: $font-color;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
}

.submitButton {
  display: block;
  border: 2px solid $main-bg;
  background-color: $option-bg;
}

.input--number {
  padding-left: 6px;
}
