.section_wrapper {
  height: 6vh;
  margin-bottom: $xl-spacing;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  border-radius: 50px;
  background-color: $accent-bg;
  @media (min-width: $tablet) {
    margin: $m-spacing 0;
  }
  @media (min-width: $desktop) {
    margin-bottom: 0;
    margin-top: $xl-spacing;
  }
}

.slider {
  flex-basis: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
