/* padding and margin */
$xl-spacing: 40px;
$m-spacing: 20px;
$s-spacing: 12px;
$input-size: 30px;

/* width for boxes */

$mobile-width: 300px;
$tablet-width: 600px;
$desktop-width: 1140px;
$wide-desktop-width: 1850px;

/* width for screen size */

$tablet: 500px;
$desktop: 870px;

/* font sizes */
$xlplus-fs: 100px;
$xl-fs: 28px;
$l-fs: 16px;
$m-fs: 14px;
$s-fs: 12px;

/* line height */
$xlplus-lh: 120px;
$xl-lh: 34px;
$l-lh: 19px;
$m-lh: 17px;
$s-lh: 14px;

$xl-letter-spacing: 15px;
$l-letter-spacing: 5px;
$neg-letter-spacing: -5px;

/* Colors */

$main-bg: #1e213f;
$modal-bg: #4a4d65;
$accent-bg: #161932;
$option-bg: #eff1fa;
$main-action: #f87070;
$secondary-action: #70f3f8;
$font-color: #d7e0ff;
$disabled: #acb3cc;

/* TEXT AND TITLES */

@mixin font-set($font-size, $line-height, $spacing: 0, $weight: bold) {
  font-size: $font-size;
  line-height: $line-height;
  letter-spacing: $spacing;
  font-weight: $weight;
}
