@import "variables.scss";

/* HELPERS */

.font-xlplus {
  @include font-set($xlplus-fs, $xlplus-lh);
}

.font-xl {
  @include font-set($xl-fs, $xl-lh);
}

.font-l {
  @include font-set($l-fs, $l-lh, $xl-letter-spacing);
  text-transform: uppercase;
}

.font-m {
  @include font-set($m-fs, $m-lh);
  text-transform: uppercase;
}

/* GLOBAL CLASSES */

.main {
  padding: $m-spacing;
  min-width: $mobile-width;
  @media (min-width: $tablet) {
    padding: 0;
    max-width: 420px;
    margin: 0 auto;
  }
}

.modal_main {
  color: $main-bg;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  padding: 20px;
  @media (min-width: $desktop) {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
  }
}

.section_main {
  padding-top: $xl-spacing;
  max-width: 70%;
  margin: 0 auto;
}

.active {
  background-color: $main-action;
}

.container {
  position: relative;
  min-height: 100vh;
}

.icon {
  cursor: pointer;
}

.link--nav {
  letter-spacing: 0;
  color: $main-bg;
  &:visited {
    color: $main-bg;
  }
  &:hover {
    text-decoration: underline 0.15em $main-bg;
    text-underline-offset: 0.4em;
  }
}

.disabled {
  color: $disabled !important;
}

/* RESETS */

body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  background-color: $main-bg;
  color: $font-color;
}

// avoiding h1,h2 brower size in FF

h1 {
  @include font-set($xlplus-fs, $xlplus-lh);
}

h2 {
  @include font-set($xl-fs, $xl-lh);
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

input,
select {
  height: $input-size;
  width: 100%;
  padding: 2px;
  margin: $s-spacing 0;
  border: 1px black solid;
  border-radius: 8px;
  box-sizing: border-box;
  background-color: white;
}

ul {
  padding: 0;
  list-style: none;
}

//display an element

.not-displayed {
  display: none !important;
}
