.menu {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: $option-bg;
  color: $main-bg;
}

.menu__header {
  display: flex;
  padding: $s-spacing;
  justify-content: flex-end;
}

.menu__nav {
  padding: 0 $s-spacing;
}

.list__item {
  margin: $m-spacing 0;
}
