@import "variables.scss";

.timer {
  position: relative;
  max-width: 100%;
  min-height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $xl-spacing 0;
}

.timer__svg {
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  background-color: $accent-bg;
  transform: scaleX(-1);
}

.timer__circle {
  fill: none;
}

.timer__circle-path {
  stroke-width: 5px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
}

.timer__numbers {
  //reduce font size in mobile
  font-size: 70px !important;
  margin: 0;
}

.timer__button {
  padding: 0;
  background-color: $accent-bg;
  border: none;
  color: $font-color;
}

.pause {
  display: flex;
  justify-content: center;
  padding: $m-spacing;
  background-color: $accent-bg;
  border-radius: 8px;
  gap: $s-spacing;
  :nth-child(2n) {
    text-align: center;
  }
}

.pause__item {
  min-width: 25%;
  &__title {
    text-align: center;
    margin: 0;
  }
}
